.btn {
  padding: 20px 45px;
  font-family: $font-osb;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: white;
  border: 1px solid $red;
  border-radius: 3px;
  background: $red;
  box-shadow: 0 2px 7px rgba(0, 0, 0, .25);

  @media #{$mq-sm} {
    padding: 15px 30px;
  }

  &:hover {
    border-color: darken($red, 12%);
    background: darken($red, 12%);
  }

  &:active {
    color: rgba(255, 255, 255, .6);
    border-color: darken($red, 16%);
    background: darken($red, 16%);
  }

  &--transparent {
    border: 1px solid white;
    background: transparent;

    &:hover {
      border-color: darken(white, 20%);
      background: rgba(0, 0, 0, .2);
    }

    &:active {
      border-color: darken(white, 30%);
      background: rgba(0, 0, 0, .3);
    }
  }

  &--grey {
    border-color: $grey-text;
    background: $grey-text;

    &:hover {
      border-color: darken($grey-text, 10%);
      background: darken($grey-text, 10%);
    }

    &:active {
      border-color: darken($grey-text, 15%);
      background: darken($grey-text, 15%);
    }
  }
}
