.icon-decor {
  position: absolute;
  box-sizing: content-box;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #f4f5f9;
  z-index: 20;
  transition: 0.4s;

  &:hover {
    background: darken($red, 13%);
  }

  &:hover:before {
    background: rgba(255, 150, 150, .25);
  }

  &:hover:after {
    color: $white;
  }

  &:before {
    position: absolute;
    display: block;
    content: "";
    top: -5px;
    left: -5px;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .25);
    z-index: 15;
  }

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "icomoon";
    color: $red;
    z-index: 25;
  }
}
