//fonts
$font-os: "open_sansregular", "verdana", sans-serif;
$font-osb: "open_sansbold", "verdana", sans-serif;
$font-osbi: "open_sansbold_italic", "verdana", sans-serif;
$font-ossb: "open_sanssemibold", "verdana", sans-serif;
$font-ossbi: "open_sanssemibold_italic", "verdana", sans-serif;
$font-ssp: "source_sans_proregular", "verdana", sans-serif;
$font-sspb: "source_sans_probold", "verdana", sans-serif;
$font-sspl: "source_sans_prolight", "verdana", sans-serif;
$font-sspsb: "source_sans_prosemibold", "verdana", sans-serif;

//colors
$red: #e74c3c;
$white: #f4f5f9;
$black-title: #6a6a6a;
$grey-text: #999;

//media queries
