.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 40px;
  z-index: 100;

  &__center-wrap {
    display: flex;
    justify-content: space-between;

    @media #{$mq-md} {
      justify-content: space-around;
    }

    @media #{$mq-sm} {
      padding: 0 5%;
    }
  }

  &__logo {
    display: block;
    flex: 0 1 141px;
    height: 52px;
    background-image: url(../img/sprite/spritesheet.png);
    background-position: -139px -105px;

    &:hover {
      box-shadow: 0 0 20px rgba(255, 255, 255, .3);
    }

    &:active {
      box-shadow: 0 0 15px rgba(255, 255, 255, .2);
    }
  }
}

.nav {
  flex: 0 1 62.4%;

  @media #{$mq-md} {
    flex: 0 1 70%;
  }

  @media #{$mq-sm} {
    flex-basis: 10%;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    padding-left: 0;

    @media #{$mq-sm} {
      // margin-right: -35vw;
      position: fixed;
      flex-direction: column;
      justify-content: space-around;
      top: 0px;
      right: 0;
      padding-top: 10vw;
      width: 35vw;
      height: 90vh;
      border-top: 1px solid $white;
      border-bottom: 1px solid $white;
      border-left: 1px solid $white;
      border-radius: 5px 0px 0px 5px;
      text-shadow: 0 0 3px black;
      background: rgba(32, 32, 32, .9);
    }
  }

  &__item {
    position: relative;
    flex: 0 1 auto;
    font-family: $font-os;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: $white;

    @media #{$mq-sm} {
      padding: 1.5vh 0;
      padding-left: 10%;
      width: 100%;
    }

    &:hover {
      color: $red;

      @media #{$mq-sm} {
        box-shadow: 0 0 5px $white;
      }
    }

    &:active {
      color: darken($red, 20%);
    }

    &:hover:after {
      position: absolute;
      display: block;
      content: "";
      bottom: -20px;
      left: -2px;
      right: -2px;
      height: 1px;
      background: $red;

      @media #{$mq-sm} {
        display: none;
      }
    }

    &:active:after {
      background: darken($red, 20%);
    }
  }

  &__cross {
    display: none;

    @media #{$mq-sm} {
      display: block;
      position: absolute;
      top: 3.8vh;
      right: 5.8vw;

      &:before {
        content: "\e90f";
        font-family: "icomoon";
        font-size: 46px;
        color: white;
      }

      &:hover:before {
        text-shadow: 0 0 15px white;
      }
    }
  }

  &__menu {
    display: none;

    @media #{$mq-sm} {
      display: block;

      &:before {
        content: "\e910";
        font-family: "icomoon";
        font-size: 55px;
        color: white;
      }
    }
  }
}
